@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}

.requisition {
	position: absolute;
	top: 21%;
	left: 0%;
	width: 8%;
	text-align: center;
	background-color: #e55604;
	color: white;
	padding-bottom: 3px;
}

.content {
	position: absolute;
	top: 26%;
	left: 0%;
	width: 100%;
	height: 77.1%;
	background-color: aliceblue;
}

.from_date {
	position: absolute;
	top: 28.5%;
	left: 22%;
}

select {
	font-size: 100%;
	background-color: #f2f2f2;
	padding: 3px;
	padding-left: 5px;
	border-radius: 3px;
	border: 2px solid #e5e5e5;
}

#comm_type {
	width: 100%;
}

.from_date_input {
	position: absolute;
	top: 28%;
	left: 28.7%;
	width: 10%;
}

#sem_year {
	width: 100%;
}

#status {
	width: 100%;
}

#subject {
	width: 100%;
}

input {
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
	font-size: 100%;
}

#date {
	width: 100%;
}

.add_daily_attendance {
	position: absolute;
	top: 28.5%;
	left: 1%;
	width: 12%;
	height: 6%;
}

.prev {
	position: absolute;
	top: 35.5%;
	right: 10.5%;
	width: 3%;
}

.pages {
	position: absolute;
	top: 37%;
	right: 5.5%;
}

.next {
	position: absolute;
	top: 35.5%;
	right: 1%;
	width: 3%;
}

#next {
	width: 100%;
}

#prev {
	width: 100%;
}

#inventory_requisition_table {
	position: absolute;
	top: 43%;
	left: 0%;
	width: 100%;
	border-collapse: collapse;
}

#table_heading {
	background-color: #191919;
	color: white;
}

th {
	border-top: 2px solid #b2b2b2;
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
}

.even_row {
	background-color: aliceblue;
}

#col1 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
}

.col2 {
	border-right: 2px dotted black;
}

.col12_row1 {
	border-right: 2px solid #b2b2b2;
}

.odd_row {
	background-color: #cccccc;
}

.col1 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
}

.col1_row51 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
	border-bottom: 2px solid #b2b2b2;
}

.col2_row51 {
	border-right: 2px dotted black;
	border-bottom: 2px solid #b2b2b2;
}

.col12_row51 {
	border-right: 2px solid #b2b2b2;
	border-bottom: 2px solid #b2b2b2;
}

#export_excel {
	width: 100%;
	height: 100%;	
}

.store {
	position: absolute;
	top: 28.5%;
	left: 1%;
}

.store_select {
	position: absolute;
	top: 28%;
	left: 5%;
	width: 15%;
}

#organisation {
	width: 100%;
}

#sem {
	width: 100%;
}

.to_date_input {
	position: absolute;
	top: 28%;
	left: 51.3%;
	width: 15%;
}

.to_date {
	position: absolute;
	top: 28.5%;
	left: 46%;
}

#status {
	width: 100%;
}

#order_by {
	width: 100%;
}

#search {
	width: 100%;
}

#search_in {
	width: 100%;
}

#candidate {
	width: 100%;
}

.go_button {
	position: absolute;
	top: 34.5%;
	left: 17.5%;
	width: 4%;
	height: 5%;
}

button {
	background-color: #e55604;
	border: none;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-size: 70%;
}

#go_button {
	width: 100%;
	height: 100%;
}

#add_assignment {
	width: 100%;
	height: 100%;
}

#export_pdf {
	width: 100%;
	height: 100%;
}

#student_id_card {
	width: 100%;
	height: 100%;
}

.student_table_section {
	position: absolute;
	top: 53%;
	left: 0%;
	width: 100%;
	height: 50%;
	margin-bottom: 1.6%;
	overflow: scroll;
}

.search_input {
	position: absolute;
	top: 34.5%;
	left: 1%;
	width: 15%;
}

.add_requisition {
	position: absolute;
	top: 34.5%;
	left: 22%;
	width: 10%;
	height: 5%;
}

#add_requisition {
	width: 100%;
	height: 100%;
}

.ecport_excel {
	position: absolute;
	top: 34.5%;
	left: 32.5%;
	width: 10%;
	height: 5%;
}

.nav_alerts
{
	color: #b30000;
}

.alerts_inventory a
{
	color: #b30000;
}