@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}

.content {
	position: absolute;
	top: 26%;
	left: 0%;
	width: 100%;
	height: 175%;
	background-color: aliceblue;
	margin-bottom: 5%;
}

.my_profile {
	position: absolute;
	top: 23%;
	left: 0.7%;
	width: 8%;
	text-align: center;
	background-color: #e55604;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 110%;
	border-radius: 10px;
}

.personal_info {
	position: absolute;
	top: 30%;
	left: 1%;
	width: 96%;
	background-color: blueviolet;
	color: white;
	padding: 0.2%;
	font-size: 110%;
	font-weight: bold;
}

.student_profile_pic {
	position: absolute;
	top: 35%;
	left: 20%;
	width: 9%;
}

#student_profile_pic {
	width: 100%;
}

.student_upload_profile_logo {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 1;
}

#student_upload_profile_logo {
	display: none;
}

.student_upload_form {
	position: absolute;
	top: 35%;
	left: 35%;
	width: 30%;
	height: 25%;
	background-color: blueviolet;
}

.student_text {
	text-align: center;
	font-size: 120%;
	margin-top: 3%;
}

.student_type
{
	font-size: 80%;
	padding-bottom:10px;
}

#profile_pic {
	font-size: 80%;
	border: none;
	width: 60%;
	font-weight: bold;
}

#submit {
	font-size: 80%;
	background-color: #e55604;
	border: none;
	width: 18%;
	height: 100%;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-weight: bold;
}

#cancle {
	font-size: 80%;
	background-color: #e55604;
	border: none;
	width: 18%;
	height: 100%;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-weight: bold;
}

.my_photo {
	position: absolute;
	top: 43%;
	left: 2%;
	font-weight: bold;
}

.session {
	position: absolute;
	top: 60%;
	left: 2%;
	font-weight: bold;
}

.session_value {
	position: absolute;
	top: 60%;
	left: 20%;
	width: 15%;
}

.department {
	position: absolute;
	top: 65%;
	left: 2%;
	font-weight: bold;
}

.department_value {
	position: absolute;
	top: 65%;
	left: 20%;
	width: 15%;
}

.sem {
	position: absolute;
	top: 70%;
	left: 2%;
	font-weight: bold;
}

.sem_value {
	position: absolute;
	top: 70%;
	left: 20%;
	width: 15%;
}

.name {
	position: absolute;
	top: 75%;
	left: 2%;
	font-weight: bold;
}

.name_value {
	position: absolute;
	top: 75%;
	left: 20%;
	width: 15%;
}

.rollno {
	position: absolute;
	top: 80%;
	left: 2%;
	font-weight: bold;
}

.rollno_value {
	position: absolute;
	top: 80%;
	left: 20%;
	width: 15%;
}

.blood {
	position: absolute;
	top: 85%;
	left: 2%;
	font-weight: bold;
}

.blood_value {
	position: absolute;
	top: 85%;
	left: 20%;
	width: 15%;
}

.admission {
	position: absolute;
	top: 90%;
	left: 2%;
	font-weight: bold;
}

.admission_value {
	position: absolute;
	top: 90%;
	left: 20%;
	width: 15%;
}

.organisation {
	position: absolute;
	top: 60%;
	left: 40%;
	font-weight: bold;
}

.organisation_value {
	position: absolute;
	top: 60%;
	left: 60%;
	width: 15%;
}

.course {
	position: absolute;
	top: 65%;
	left: 40%;
	font-weight: bold;
}

.course_value {
	position: absolute;
	top: 65%;
	left: 60%;
	width: 15%;
}

.section {
	position: absolute;
	top: 70%;
	left: 40%;
	font-weight: bold;
}

.section_value {
	position: absolute;
	top: 70%;
	left: 60%;
	width: 15%;
}

.email {
	position: absolute;
	top: 75%;
	left: 40%;
	font-weight: bold;
}

.email_value {
	position: absolute;
	top: 75%;
	left: 60%;
	width: 15%;
}

.dob {
	position: absolute;
	top: 80%;
	left: 40%;
	font-weight: bold;
}

.dob_value {
	position: absolute;
	top: 80%;
	left: 60%;
	width: 15%;
}

.gender {
	position: absolute;
	top: 85%;
	left: 40%;
	font-weight: bold;
}

.gender_value {
	position: absolute;
	top: 85%;
	left: 60%;
	width: 15%;
}

.mobile {
	position: absolute;
	top: 90%;
	left: 40%;
	font-weight: bold;
}

.mobile_value {
	position: absolute;
	top: 90%;
	left: 60%;
	width: 15%;
}

.category {
	position: absolute;
	top: 95%;
	left: 2%;
	font-weight: bold;
}

.category_value {
	position: absolute;
	top: 95%;
	left: 20%;
	width: 15%;
}

.nation {
	position: absolute;
	top: 95%;
	left: 40%;
	font-weight: bold;
}

.nation_value {
	position: absolute;
	top: 95%;
	left: 60%;
	width: 15%;
}

.address_info {
	position: absolute;
	top: 100%;
	left: 1%;
	width: 96%;
	background-color: blueviolet;
	color: white;
	padding: 0.2%;
	font-size: 110%;
	font-weight: bold;
}

.address {
	position: absolute;
	top: 105%;
	left: 2%;
	font-weight: bold;
}

.address_value {
	position: absolute;
	top: 105%;
	left: 20%;
	width: 15%;
}

.city {
	position: absolute;
	top: 110%;
	left: 2%;
	font-weight: bold;
}

.city_value {
	position: absolute;
	top: 110%;
	left: 20%;
	width: 15%;
}

.country {
	position: absolute;
	top: 115%;
	left: 2%;
	font-weight: bold;
}

.country_value {
	position: absolute;
	top: 115%;
	left: 20%;
	width: 15%;
}

.state {
	position: absolute;
	top: 110%;
	left: 40%;
	font-weight: bold;
}

.state_value {
	position: absolute;
	top: 110%;
	left: 60%;
	width: 15%;
}

.pin {
	position: absolute;
	top: 115%;
	left: 40%;
	font-weight: bold;
}

.pin_value {
	position: absolute;
	top: 115%;
	left: 60%;
	width: 15%;
}

.father_info {
	position: absolute;
	top: 120%;
	left: 1%;
	width: 96%;
	background-color: blueviolet;
	color: white;
	padding: 0.2%;
	font-size: 110%;
	font-weight: bold;
}

.f_pic {
	position: absolute;
	top: 125%;
	left: 20%;
	width: 9%;
}

#f_pic {
	width: 100%;
}

.f_pic_upload_profile_logo {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 1;
}

#f_pic_upload_profile_logo {
	display: none;
}

.f_pic_upload_form {
	position: absolute;
	top: 35%;
	left: 35%;
	width: 30%;
	height: 25%;
	background-color: blueviolet;
}

.f_pic_text {
	text-align: center;
	font-size: 120%;
	margin-top: 3%;
}

.f_pic_type
{
	font-size: 80%;
	padding-bottom:10px;
}

.f_salutation_value {
	position: absolute;
	top: 150%;
	left: 20%;
	width: 15%;
}

.f_photo {
	position: absolute;
	top: 135%;
	left: 2%;
	font-weight: bold;
}

.f_salutation {
	position: absolute;
	top: 150%;
	left: 2%;
	font-weight: bold;
}

.f_mobile {
	position: absolute;
	top: 155%;
	left: 2%;
	font-weight: bold;
}

.f_mobile_value {
	position: absolute;
	top: 155%;
	left: 20%;
	width: 15%;
}

.f_name {
	position: absolute;
	top: 150%;
	left: 40%;
	font-weight: bold;
}

.f_name_value {
	position: absolute;
	top: 150%;
	left: 60%;
	width: 15%;
}

.f_email {
	position: absolute;
	top: 155%;
	left: 40%;
	font-weight: bold;
}

.f_email_value {
	position: absolute;
	top: 155%;
	left: 60%;
	width: 15%;
}

.mother_info {
	position: absolute;
	top: 160%;
	left: 1%;
	width: 96%;
	background-color: blueviolet;
	color: white;
	padding: 0.2%;
	font-size: 110%;
	font-weight: bold;
}

.m_photo {
	position: absolute;
	top: 175%;
	left: 2%;
	font-weight: bold;
}

.m_pic {
	position: absolute;
	top: 165%;
	left: 20%;
	width: 9%;
}

#m_pic {
	width: 100%;
}

.m_pic_upload_profile_logo {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 1;
}

#m_pic_upload_profile_logo {
	display: none;
}

.m_pic_upload_form {
	position: absolute;
	top: 35%;
	left: 35%;
	width: 30%;
	height: 25%;
	background-color: blueviolet;
}

.m_pic_text {
	text-align: center;
	font-size: 120%;
	margin-top: 3%;
}

.m_pic_type
{
	font-size: 80%;
	padding-bottom:10px;
}

.m_salutation_value {
	position: absolute;
	top: 190%;
	left: 20%;
	width: 15%;
}

.m_salutation {
	position: absolute;
	top: 190%;
	left: 2%;
	font-weight: bold;
}

.m_mobile {
	position: absolute;
	top: 195%;
	left: 2%;
	font-weight: bold;
}

.m_mobile_value {
	position: absolute;
	top: 195%;
	left: 20%;
	width: 15%;
}

.m_name {
	position: absolute;
	top: 190%;
	left: 40%;
	font-weight: bold;
}

.m_name_value {
	position: absolute;
	top: 190%;
	left: 60%;
	width: 15%;
}

.m_email {
	position: absolute;
	top: 195%;
	left: 40%;
	font-weight: bold;
}

.m_email_value {
	position: absolute;
	top: 195%;
	left: 60%;
	width: 15%;
}

#session {
	width: 100%;
}

#department {
	width: 100%;
}

#sem {
	width: 100%;
}

#name {
	width: 100%;
}

#rollno {
	width: 100%;
}

#blood {
	width: 100%;
}

#admission {
	width: 100%;
	height: 16px;
}

#organisation {
	width: 100%;
}

#course {
	width: 100%;
}

#section {
	width: 100%;
}

#email {
	width: 100%;
}

#dob {
	width: 100%;
	height: 16px;
}

#gender {
	width: 100%;
}

#mobile {
	width: 100%;
}

#nation {
	width: 100%;
}

#category {
	width: 100%;
}

#address {
	width: 100%;
}

#city {
	width: 100%;
}

#country {
	width: 100%;
}

#state {
	width: 100%;
}

#pin {
	width: 100%;
}

#f_salutation {
	width: 100%;
}

#f_mobile {
	width: 100%;
}

#f_name {
	width: 100%;
}

#f_email {
	width: 100%;
}

#m_salutation {
	width: 100%;
}

#m_mobile {
	width: 100%;
}

#m_name {
	width: 100%;
}

#m_email {
	width: 100%;
}

select {
	background-color: #f2f2f2;
	padding: 3px;
	padding-left: 5px;
	border-radius: 3px;
	border: 2px solid #e5e5e5;
}

input {
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}

.save_button {
	position: absolute;
	top: 201%;
	width: 100%;
	height: 5%;
	text-align: center;
	margin-bottom: 5%;
}

#save {
	background-color: #e55604;
	border: none;
	width: 5%;
	height: 100%;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-weight: bold;
}

.nav_update_user a
{
	color: #b30000;
}
