@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}

.employees {
	position: absolute;
	top: 21%;
	left: 0%;
	background-color: #e55604;
	color: white;
}

.employees_text1 {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1px;
}

.employees_triangle {
	width: 0;
	border-left: 12px solid #6600cc;
	border-bottom: 12px solid #e55604;
	border-top: 12px solid #e55604;
	float: left;
}

.employees_detail {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
}

.staff {
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	color: #191919;
}

.employee_name {
	position: absolute;
	top: 30%;
}

.content {
	position: absolute;
	top: 35%;
	left: 0%;
	width: 99.8%;
	height: 100%;
	background-color: aliceblue;
	border-radius: 5px 5px 0px 0px;
	margin-left: 0.1%;
	margin-right: 0.1%;
}

.profile_nav {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 99.8%;
	background-color: blueviolet;
	color: white;
	border-radius: 5px 5px 0px 0px;
	margin: 0.1%;
	padding-top: 0.3%;
}

.profile_nav_personal {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
	margin-left: 0.15%;
}

.profile_nav_official {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_history {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_medical {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_document {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_activity {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_address {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_additional {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_bank {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_family {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_other {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

#profile_nav_active {
	background-color: #2e2be2;
}

#profile_logo {
	width: 100%;
}

.save_button {
	position: absolute;
	top: 135%;
	width: 100%;
	height: 5%;
	text-align: center;
	margin-bottom: 5%;
}

#save {
	background-color: #e55604;
	border: none;
	width: 5%;
	height: 100%;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-weight: bold;
}


.birth {
	position: absolute;
	top: 10%;
	left: 1%;
}

#birth {
	width: 100%;
}

input {
	font-size: 100%;
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}

.birth_input {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 15%;
}

select {
	font-size: 100%;
	background-color: #f2f2f2;
	padding: 3px;
	padding-left: 5px;
	border-radius: 3px;
	border: 2px solid #e5e5e5;
}

.religion_select {
	position: absolute;
	top: 17%;
	left: 20%;
	width: 15%;
}

#religion {
	width: 100%;
}

.religion {
	position: absolute;
	top: 17%;
	left: 1%;
}

#lang {
	width: 100%;
}

.lang_input {
	position: absolute;
	top: 24%;
	left: 20%;
	width: 15%;
}

.lang {
	position: absolute;
	top: 24%;
	left: 1%;
}

#blood {
	width: 100%;
}

.blood_select {
	position: absolute;
	top: 10%;
	left: 69%;
	width: 15%;
}

.blood {
	position: absolute;
	top: 10%;
	left: 50%;
}

#toungue {
	width: 100%;
}

.toungue {
	position: absolute;
	top: 17%;
	left: 50%;
}

.toungue_input {
	position: absolute;
	top: 17%;
	left: 69%;
}

.others {
	position: absolute;
	top: 35%;
	left: 1%;
	width: 95%;
	background-color: blueviolet;
	color: white;
	padding: 0.2%;
	font-size: 110%;
}

.first_line {
	position: absolute;
	top: 40%;
	left: 1%;
}

.second_line {
	position: absolute;
	top: 44%;
	left: 1%;
}

.third_line {
	position: absolute;
	top: 48%;
	left: 1%;
}

.fourth_line {
	position: absolute;
	top: 52%;
	left: 1%;
}

.fifth_line {
	position: absolute;
	top: 56%;
	left: 1%;
}

.sixth_line {
	position: absolute;
	top: 60%;
	left: 1%;
}

.seventh_line {
	position: absolute;
	top: 64%;
	left: 1%;
}

.eigth_line {
	position: absolute;
	top: 68%;
	left: 1%;
}

.remarks {
	position: absolute;
	top: 77%;
	left: 1%;
	width: 95%;
	background-color: blueviolet;
	color: white;
	padding: 0.2%;
	font-size: 110%;
}

.remarks_input {
	position: absolute;
	top: 82%;
	left: 1.3%;
}

textarea {
	font-size: 100%;
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}

.first_check {
	position: absolute;
	top: 41%;
	left: 40%;
}

.second_check {
	position: absolute;
	top: 45%;
	left: 40%;
}

.third_check {
	position: absolute;
	top: 49%;
	left: 40%;
}

.fourth_check {
	position: absolute;
	top: 53%;
	left: 40%;
}

.fifth_check {
	position: absolute;
	top: 57%;
	left: 40%;
}

.sixth_check {
	position: absolute;
	top: 61%;
	left: 40%;
}

.seventh_check {
	position: absolute;
	top: 65%;
	left: 40%;
}

.eight_check {
	position: absolute;
	top: 69%;
	left: 40%;
}

.nav_my_profile a
{
	color: #b30000;
}