@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}

.employees {
	position: absolute;
	top: 21%;
	left: 0%;
	background-color: #e55604;
	color: white;
}

.employees_text1 {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1px;
}

.employees_triangle {
	width: 0;
	border-left: 12px solid #6600cc;
	border-bottom: 12px solid #e55604;
	border-top: 12px solid #e55604;
	float: left;
}

.employees_detail {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
}

.staff {
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	color: #191919;
}

.employee_name {
	position: absolute;
	top: 30%;
}

.content {
	position: absolute;
	top: 35%;
	left: 0%;
	width: 99.8%;
	height: 70%;
	background-color: aliceblue;
	border-radius: 5px 5px 0px 0px;
	margin-left: 0.1%;
	margin-right: 0.1%;
}

.profile_nav {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 99.8%;
	background-color: blueviolet;
	color: white;
	border-radius: 5px 5px 0px 0px;
	margin: 0.1%;
	padding-top: 0.3%;
}

.profile_nav_personal {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
	margin-left: 0.15%;
}

.profile_nav_official {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_history {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_medical {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_document {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_activity {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_address {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_additional {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_bank {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_family {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_other {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

#profile_nav_active {
	background-color: #2e2be2;
}

#profile_logo {
	width: 100%;
}

.employment_code {
	position: absolute;
	top: 10%;
	left: 1%;
}

.employment_code_select {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 15%;
}

#employment_code_select {
	width: 100%;
}

.save_button {
	position: absolute;
	top: 105%;
	width: 100%;
	height: 5%;
	text-align: center;
	margin-bottom: 5%;
}

#save {
	background-color: #e55604;
	border: none;
	width: 5%;
	height: 100%;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-weight: bold;
}

input {
	font-size: 100%;
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}

select {
	font-size: 100%;
	background-color: #f2f2f2;
	padding: 3px;
	padding-left: 5px;
	border-radius: 3px;
	border: 2px solid #e5e5e5;
}

textarea {
	font-size: 100%;
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}

.verify_official_id {
	position: absolute;
	top: 39%;
	left: 85.5%;
}

.verify_personal_id {
	position: absolute;
	top: 46%;
	left: 85.5%;
}

.base {
	position: absolute;
	top: 20%;
	left: 1%;
}

#base {
	width: 100%;
}

.base_select {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 15%;
}

.username {
	position: absolute;
	top: 30%;
	left: 1%;
}

#username {
	width: 100%;
}

.username_input {
	position: absolute;
	top: 30%;
	left: 20%;
	width: 15%;
}

.designation {
	position: absolute;
	top: 40%;
	left: 1%;
}

.designation_select {
	position: absolute;
	top: 40%;
	left: 20%;
	width: 15%;
}

#designation {
	width: 100%;
}

.biometric {
	position: absolute;
	top: 50%;
	left: 1%;
}

#biometric {
	width: 100%;
}

.biometric_input {
	position: absolute;
	top: 50%;
	left: 20%;
	width: 15%;
}

#specialization {
	width: 100%;
}

.specialization_input {
	position: absolute;
	top: 60%;
	left: 20%;
	width: 15%;
}

.specialization {
	position: absolute;
	top: 60%;
	left: 1%;
}

.confirm {
	position: absolute;
	top: 70%;
	left: 1%;
}

#confirm {
	width: 100%;
}

.confirm_input {
	position: absolute;
	top: 70%;
	left: 20%;
	width: 15%;
}

.group {
	position: absolute;
	top: 80%;
	left: 1%;
}

#group {
	width: 100%;
}

.group_select {
	position: absolute;
	top: 80%;
	left: 20%;
	width: 15%;
}

.type {
	position: absolute;
	top: 92%;
	left: 1%;
}

#type {
	width: 100%;
}

.type_select {
	position: absolute;
	top: 92%;
	left: 20%;
	width: 15%;
}

.id {
	position: absolute;
	top: 10%;
	left: 50%;
}

#id {
	width: 100%;
}

.id_input {
	position: absolute;
	top: 10%;
	left: 69%;
	width: 15%;
}

#joining {
	width: 100%;
}

.joining_input {
	position: absolute;
	top: 20%;
	left: 69%;
	width: 15%;
}

.joining {
	position: absolute;
	top: 20%;
	left: 50%;
}

.reporting {
	position: absolute;
	top: 30%;
	left: 50%;
}

#reporting {
	width: 100%;
}

.reporting_select {
	position: absolute;
	top: 30%;
	left: 69%;
	width: 15%;
}

#staff_select {
	width: 100%;
}

.staff_type_select {
	position: absolute;
	top: 40%;
	left: 69%;
	width: 15%;
}

.staff_type {
	position: absolute;
	top: 40%;
	left: 50%;
}

#sequence {
	width: 100%;
}

.sequence_input {
	position: absolute;
	top: 50%;
	left: 69%;
	width: 15%;
}

.sequence {
	position: absolute;
	top: 50%;
	left: 50%;
}

#department {
	width: 100%;
}

.department_select {
	position: absolute;
	top: 60%;
	left: 69%;
	width: 15%;
}

.department {
	position: absolute;
	top: 60%;
	left: 50%;
}

#hod {
	width: 100%;
}

.hod_input {
	position: absolute;
	top: 92%;
	left: 69%;
	width: 15%;
}

.hod {
	position: absolute;
	top: 92%;
	left: 50%;
}

.nav_my_profile a
{
	color: #b30000;
}
