@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}


.employees {
	position: absolute;
	top: 21%;
	left: 0%;
	background-color: #e55604;
	color: white;
}

.employees_text1 {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1px;
}

.employees_triangle {
	width: 0;
	border-left: 12px solid #6600cc;
	border-bottom: 12px solid #e55604;
	border-top: 12px solid #e55604;
	float: left;
}

.employees_detail {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
}

.staff {
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	color: #191919;
}

.employee_name {
	position: absolute;
	top: 30%;
}

.content {
	position: absolute;
	top: 35%;
	left: 0%;
	width: 99.8%;
	height: 70%;
	background-color: aliceblue;
	border-radius: 5px 5px 0px 0px;
	margin-left: 0.1%;
	margin-right: 0.1%;
}

.profile_nav {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 99.8%;
	background-color: blueviolet;
	color: white;
	border-radius: 5px 5px 0px 0px;
	margin: 0.1%;
	padding-top: 0.3%;
}

.profile_nav_personal {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
	margin-left: 0.15%;
}

.profile_nav_official {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_history {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_medical {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_document {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_activity {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_address {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_additional {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_bank {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_family {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_other {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

#profile_nav_active {
	background-color: #2e2be2;
}

#profile_logo {
	width: 100%;
}

.employment_code {
	position: absolute;
	top: 10%;
	left: 1%;
}

.employment_code_select {
	position: absolute;
	top: 10%;
	left: 20%;
	width: 15%;
}

#employment_code_select {
	width: 100%;
}

.save_button {
	position: absolute;
	top: 105%;
	width: 100%;
	height: 5%;
	text-align: center;
	margin-bottom: 5%;
}

#save {
	background-color: #e55604;
	border: none;
	width: 5%;
	height: 100%;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-weight: bold;
}

.permanent_address {
	position: absolute;
	top: 12%;
	left: 2%;
	width: 96%;
	background-color: blueviolet;
	color: white;
	padding: 0.2%;
	font-size: 110%;
}

.address {
	position: absolute;
	top: 20%;
	left: 2%;
}

.address_input {
	position: absolute;
	top: 20%;
	left: 20%;
	width: 15%;
}

#address {
	width: 100%;
}

input {
	font-size: 100%;
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}

select {
	font-size: 100%;
	background-color: #f2f2f2;
	padding: 3px;
	padding-left: 5px;
	border-radius: 3px;
	border: 2px solid #e5e5e5;
}

#state {
	width: 100%;
}

.state_select {
	position: absolute;
	top: 32%;
	left: 20%;
	width: 15%;
}

.state {
	position: absolute;
	top: 32%;
	left: 2%;
}

#pin {
	width: 100%;
}

.pin {
	position: absolute;
	top: 44%;
	left: 2%;
}

.pin_input {
	position: absolute;
	top: 44%;
	left: 20%;
	width: 15%;
}

.country {
	position: absolute;
	top: 20%;
	left: 50%;
}

.country_select {
	position: absolute;
	top: 20%;
	left: 69%;
	width: 15%;
}

#country {
	width: 100%;
}

.city {
	position: absolute;
	top: 32%;
	left: 50%;
}

.city_select {
	position: absolute;
	top: 32%;
	left: 69%;
	width: 15%;
}

.corrs_address {
	position: absolute;
	top: 52%;
	left: 2%;
	width: 96%;
	background-color: blueviolet;
	color: white;
	padding: 0.2%;
	font-size: 110%;
}

.same_as {
	position: absolute;
	top: 58%;
	left: 2%;
}

.check {
	position: absolute;
	top: 58.5%;
	left: 20%;
	width: 15%;
}

.c_address {
	position: absolute;
	top: 66%;
	left: 2%;
}

.c_address_input {
	position: absolute;
	top: 66%;
	left: 20%;
	width: 15%;
}

.c_state {
	position: absolute;
	top: 78%;
	left: 2%;
}

.c_pin {
	position: absolute;
	top: 90%;
	left: 2%;
}

.c_country {
	position: absolute;
	top: 66%;
	left: 50%;
}

.c_city {
	position: absolute;
	top: 78%;
	left: 50%;
}

.c_state_select {
	position: absolute;
	top: 78%;
	left: 20%;
	width: 15%;
}

.c_pin_input {
	position: absolute;
	top: 90%;
	left: 20%;
	width: 15%;
}

.c_country_select {
	position: absolute;
	top: 66%;
	left: 69%;
	width: 15%;
}

.c_city_select {
	position: absolute;
	top: 78%;
	left: 69%;
	width: 15%;
}

#c_city {
	width: 100%;
}

#c_country {
	width: 100%;
}

#c_pin {
	width: 100%;
}

#c_state {
	width: 100%;
}

#c_address {
	width: 100%;
}

#city {
	width: 100%;
}

.nav_my_profile a
{
	color: #b30000;
}