@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}


a {
	text-decoration: none;
	color: white;
}

.top {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 20%;
	background-color: #0493e5;
}

.college_logo {
	position: absolute;
	top: 9%;
	left: 0.8%;
	width: 60px;
	height: 60px;
	background-color: aliceblue;
	border-radius: 5%;
}

#college_logo {
	height: 90%;
	margin-left: 20%;
	margin-top: 5%;
}

.college_name {
	position: absolute;
	top: 20%;
	left: 6%;
	font-size: 150%;
	color: white;
	font-weight: bold;
}

.org {
	position: absolute;
	top: 5%;
	right: 30%;
	font-size: 100%;
	color: white;
	font-weight: bold;
}

.welcome {
	position: absolute;
	top: 5%;
	right: 1%;
	font-size: 80%;
	color: white;
	text-transform: uppercase;
}

.bsaitm_name {
	position: absolute;
	top: 5%;
	right: 25%;
	font-size: 90%;
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

.setting_logo {
	position: absolute;
	top: 0%;
	right: 2%;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#setting {
	width: 100%;
}

.cname {
	position: absolute;
	top: 30%;
	right: 8%;
	font-weight: bold;
	font-size: 200%;
	color: white;
}

.nav {
	position: absolute;
	top: 65%;
	left: 0%;
	width: 100%;
	height: 30%;
	background-color: #e55604;
	color: white;
	cursor: pointer;
	font-weight: bold;
}

.nav_dashboard {
	float: left;
	height: 75%;
	padding: 10px 11px 0px 11px;
	font-size: 75%;
}

.nav_my_profile {
	float: left;
	height: 75%;
	padding: 10px 11px 0px 11px;
	font-size: 75%;
}

.nav_add_new_user {
	float: left;
	height: 75%;
	padding: 10px 11px 0px 11px;
	font-size: 75%;
}


.logout {
	display: none;
	position: absolute;
	top: 100%;
	right: 0%;
	width: 1020%;
	height: 330%;
	background-color: #03639a;
	z-index: 2;
}

.logout_pic {
	position: absolute;
	top: 12%;
	left: 4%;
	width: 100px;
	height: 100px;
	background-color: aqua;
	border-radius: 100%;
	overflow: hidden;
}

#logout_pic {
	width: 100%;
}

.logout_name {
	position: absolute;
	top: 25%;
	right: 13%;
	font-weight: bold;
}

.logout_user {
	position: absolute;
	top: 25%;
	left: 41%;
}

.change_password {
	position: absolute;
	top: 50%;
	left: 40%;
}

.signout {
	position: absolute;
	top: 50%;
	right: 10%;
}

#change_password {
	font-size: 70%;
	height: 30px;
}

#signout {
	font-size: 70%;
	height: 30px;
}

.setting {
	position: absolute;
	top: 30%;
	right: 2%;
	width: 40px;
	height: 40px;
}

.setting:hover .logout{
	display: block;
}


.employees {
	position: absolute;
	top: 21%;
	left: 0%;
	background-color: #e55604;
	color: white;
}

.employees_text1 {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1px;
}

.employees_triangle {
	width: 0;
	border-left: 12px solid #6600cc;
	border-bottom: 12px solid #e55604;
	border-top: 12px solid #e55604;
	float: left;
}

.employees_detail {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
}

.staff {
	position: absolute;
	top: 25%;
	width: 100%;
	text-align: center;
	color: #191919;
}

.employee_name {
	position: absolute;
	top: 30%;
}

.content {
	position: absolute;
	top: 35%;
	left: 0%;
	width: 99.8%;
	height: 25%;
	background-color: aliceblue;
	border-radius: 5px 5px 0px 0px;
	margin-left: 0.1%;
	margin-right: 0.1%;
}

.profile_nav {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 99.8%;
	background-color: blueviolet;
	color: white;
	border-radius: 5px 5px 0px 0px;
	margin: 0.1%;
	padding-top: 0.3%;
}

.profile_nav_personal {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
	margin-left: 0.15%;
}

.profile_nav_official {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_history {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_medical {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_document {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_activity {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_address {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_additional {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_bank {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_family {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

.profile_nav_other {
	float: left;
	padding: 0.5%;
	background-color: #6e22b4;
	border-radius: 10px 10px 0px 0px;
	margin-right: 0.2%;
}

#profile_nav_active {
	background-color: #2e2be2;
}

#profile_logo {
	width: 100%;
}

.save_button {
	position: absolute;
	top: 60%;
	width: 100%;
	height: 5%;
	text-align: center;
	margin-bottom: 5%;
}

#save {
	background-color: #e55604;
	border: none;
	width: 5%;
	height: 100%;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-weight: bold;
}

.add_info {
	position: absolute;
	top: 30%;
	left: 2%;
	width: 96%;
	background-color: blueviolet;
	color: white;
	padding: 0.2%;
	font-size: 110%;
}

.pan_no {
	position: absolute;
	top: 50%;
	left: 2%;
}

.pan_no_input {
	position: absolute;
	top: 50%;
	left: 20%;
	width: 15%;
}

input {
	font-size: 100%;
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}

#pan_no {
	width: 100%;
}

.aadhar_no {
	position: absolute;
	top: 75%;
	left: 2%;
}

#aadhar_no {
	width: 100%;
}

.aadhar_no_input {
	position: absolute;
	top: 75%;
	left: 20%;
	width: 15%;
}

#election_no {
	width: 100%;
}

.election_no_input {
	position: absolute;
	top: 50%;
	left: 69%;
	width: 15%;
}

.election_no {
	position: absolute;
	top: 50%;
	left: 50%;
}

#passport_no {
	width: 100%;
}

.passport_no {
	position: absolute;
	top: 75%;
	left: 50%;
}

.passport_no_input {
	position: absolute;
	top: 75%;
	left: 69%;
	width: 15%;
}

.nav_update_user a
{
	color: #b30000;
}

.nav_update_user {
	float: left;
	height: 75%;
	padding: 10px 11px 0px 11px;
	font-size: 75%;
}