@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}


.absent_student {
	position: absolute;
	top: 21%;
	left: 0%;
	width: 16%;
	text-align: center;
	background-color: #e55604;
	color: white;
	padding-bottom: 3px;
}

.content {
	position: absolute;
	top: 26%;
	left: 0%;
	width: 100%;
	height: 77.1%;
	background-color: aliceblue;
}

select {
	font-size: 100%;
	background-color: #f2f2f2;
	padding: 3px;
	padding-left: 5px;
	border-radius: 3px;
	border: 2px solid #e5e5e5;
}













#absent_student_table {
	position: absolute;
	top: 35%;
	left: 0%;
	width: 100%;
	border-collapse: collapse;
}

#table_heading {
	background-color: #191919;
	color: white;
}

th {
	border-top: 2px solid #b2b2b2;
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
}

.even_row {
	background-color: aliceblue;
}

#col1 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
}

.col2 {
	border-right: 2px dotted black;
}

.col12_row1 {
	border-right: 2px solid #b2b2b2;
}

.odd_row {
	background-color: #cccccc;
}

.col1 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
}

.col1_row51 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
	border-bottom: 2px solid #b2b2b2;
}

.col2_row51 {
	border-right: 2px dotted black;
	border-bottom: 2px solid #b2b2b2;
}

.col12_row51 {
	border-right: 2px solid #b2b2b2;
	border-bottom: 2px solid #b2b2b2;
}





















#sem {
	width: 100%;
}



.status_select {
	position: absolute;
	top: 28%;
	left: 78%;
	width: 15%;
}

.status {
	position: absolute;
	top: 28.5%;
	left: 73.5%;
}

.message_to {
	position: absolute;
	top: 35%;
	left: 1%;
}

.message_to_select {
	position: absolute;
	top: 34.5%;
	left: 7.8%;
	width: 15%;
}

#message_to {
	width: 100%;
}



#status {
	width: 100%;
}





#order_by {
	width: 100%;
}





#search {
	width: 100%;
}





#search_in {
	width: 100%;
}





#candidate {
	width: 100%;
}

.go_button {
	position: absolute;
	top: 34.5%;
	left: 45.5%;
	width: 4%;
	height: 5%;
}

button {
	background-color: #e55604;
	border: none;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-size: 70%;
}

#go_button {
	width: 100%;
	height: 100%;
}

#add_assignment {
	width: 100%;
	height: 100%;
}



#export_pdf {
	width: 100%;
	height: 100%;
}



#student_id_card {
	width: 100%;
	height: 100%;
}



.student_table_section {
	position: absolute;
	top: 53%;
	left: 0%;
	width: 100%;
	height: 50%;
	margin-bottom: 1.6%;
	overflow: scroll;
}
.date {
	position: absolute;
	top: 35%;
	left: 33.8%;
}

.date_input {
	position: absolute;
	top: 34.5%;
	left: 37.3%;
	width: 7%;
}
.from_date {
	position: absolute;
	top: 28.5%;
	left: 1%;
}

#from_date {
	width: 100%;
}

#to_date {
	width: 100%;
}

input {
	font-size: 100%;
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}

.from_date_inout {
	position: absolute;
	top: 28%;
	left: 7.6%;
}

.to_date {
	position: absolute;
	top: 28.5%;
	left:50%;
}

.to_date_input {
	position: absolute;
	top: 28%;
	left: 55%;
}






.nav_reports
{
	color: #b30000;
}

.reports_absent a
{
	color: #b30000;
}