@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}


.content {
	position: absolute;
	top: 27%;
	left: 0%;
	width: 100%;
	height: 70%;
	background-color: aliceblue;
}



button {
	background-color: #e55604;
	border: none;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-size: 70%;
}

.attendance_report {
	position: absolute;
	top: 25%;
	left: 0.7%;
	width: 21%;
	text-align: center;
	background-color: #e55604;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 110%;
	border-radius: 10px;
}



input {
	font-size: 100%;
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}

.generate_report_button {
	position: absolute;
	top: 62%;
	left: 0%;
	width: 100%;
	height: 6%;
	font-size: 100%;
	text-align: center;
}

#generate_report_button {
	width: 10%;
	height: 100%;
}













select {
	font-size: 100%;
	background-color: #f2f2f2;
	padding: 3px;
	padding-left: 5px;
	border-radius: 3px;
	border: 2px solid #e5e5e5;
}



#session {
	width: 100%;
}

#report {
	width: 100%;
}

.report_select {
	position: absolute;
	top: 32%;
	left: 20%;
	width: 20%;
}

.report {
	position: absolute;
	top: 32%;
	left: 2%;
}

.subject_select {
	position: absolute;
	top: 38%;
	left: 20%;
	width: 20%;
}

#subject {
	width: 100%;
}

.subject {
	position: absolute;
	top: 38%;
	left: 2%;
}







.report_order_by_select {
	position: absolute;
	top: 44%;
	left: 20%;
	width: 20%;
}

#report_order_by {
	width: 100%;
}













.from_date_input {
	position: absolute;
	top: 50%;
	left: 20%;
	width: 20%;
}

.from_date {
	position: absolute;
	top: 50%;
	left: 2%;
}

.to_date_input {
	position: absolute;
	top: 56%;
	left: 20%;
	width: 20%;
}

#to_date {
	width: 100%;
}

#from_date {
	width: 100%;
}

.to_date {
	position: absolute;
	top: 56%;
	left: 2%;
}









.report_order_by {
	position: absolute;
	top: 44%;
	left: 2%;
}



.nav_reports
{
	color: #b30000;
}

.reports_subject_wise_attendance a
{
	color: #b30000;
}