@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}


.content {
	position: absolute;
	top: 26%;
	left: 0%;
	width: 100%;
	height: 19.7%;
	background-color: aliceblue;
}

.download_report {
	position: absolute;
	top: 21%;
	left: 1%;
	width: 14%;
	text-align: center;
	background-color: #e55604;
	color: white;
	padding-bottom: 3px;
}

.prev {
	position: absolute;
	top: 27%;
	right: 10%;
	width: 3%;
}

.pages {
	position: absolute;
	top: 28.5%;
	right: 5.5%;
}

.next {
	position: absolute;
	top: 27%;
	right: 1%;
	width: 3%;
}

#prev {
	width: 100%;
}

#next {
	width: 100%;
}

#report_table {
	position: absolute;
	top: 35%;
	left: 0%;
	width: 100%;
	border-collapse: collapse;
}

th {
	border-top: 2px solid #b2b2b2;
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
}

#table_heading {
	background-color: #191919;
	color: white;
}

.even_row {
	background-color: aliceblue;
}

.col1 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
}

.col2_row1 {
	border-right: 2px solid #b2b2b2;
}

.odd_row {
	background-color: #cccccc;
}

.col1_row51 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
	border-bottom: 2px solid #b2b2b2;
}

.col12_row51 {
	border-right: 2px solid #b2b2b2;
	border-bottom: 2px solid #b2b2b2;
}

#sr_no {
	width: 4%;
}


.nav_student_management
{
	color: #b30000;
}

.student_reports a
{
	color: #b30000;
}