@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}


.teacher_diaries {
	position: absolute;
	top: 21%;
	left: 0%;
	width: 10%;
	text-align: center;
	background-color: #e55604;
	color: white;
	padding-bottom: 3px;
}

.content {
	position: absolute;
	top: 26%;
	left: 0%;
	width: 100%;
	height: 77.1%;
	background-color: aliceblue;
}

.class {
	position: absolute;
	top: 28.5%;
	left: 19%;
}

select {
	font-size: 100%;
	background-color: #f2f2f2;
	padding: 3px;
	padding-left: 5px;
	border-radius: 3px;
	border: 2px solid #e5e5e5;
}

#class {
	width: 100%;
}

.class_select {
	position: absolute;
	top: 28%;
	left: 22.8%;
}





#sem_year {
	width: 100%;
}



#section {
	width: 100%;
}







#subject {
	width: 100%;
}

input {
	padding: 3px;
	border: 2px solid #e55604;
	border-bottom: 4px solid #0493e5;
	border-radius: 3px;
	padding-left: 5px;
}





#date {
	width: 100%;
}



.add_daily_attendance {
	position: absolute;
	top: 28.5%;
	left: 1%;
	width: 12%;
	height: 6%;
}



.prev {
	position: absolute;
	top: 28%;
	right: 11%;
	width: 3%;
}

.pages {
	position: absolute;
	top: 29.5%;
	right: 5.5%;
}



.next {
	position: absolute;
	top: 28%;
	right: 1%;
	width: 3%;
}

#next {
	width: 100%;
}

#prev {
	width: 100%;
}

#teacher_diaries_table {
	position: absolute;
	top: 37%;
	left: 0%;
	width: 100%;
	border-collapse: collapse;
}

#table_heading {
	background-color: #191919;
	color: white;
}

th {
	border-top: 2px solid #b2b2b2;
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
}

.even_row {
	background-color: aliceblue;
}

#col1 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
}

.col2 {
	border-right: 2px dotted black;
}

.col12_row1 {
	border-right: 2px solid #b2b2b2;
}

.odd_row {
	background-color: #cccccc;
}

.col1 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
}

.col1_row51 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
	border-bottom: 2px solid #b2b2b2;
}

.col2_row51 {
	border-right: 2px dotted black;
	border-bottom: 2px solid #b2b2b2;
}

.col12_row51 {
	border-right: 2px solid #b2b2b2;
	border-bottom: 2px solid #b2b2b2;
}

#export_excel {
	width: 100%;
	height: 100%;	
}

.export_excel {
	position: absolute;
	top: 45%;
	left: 25.5%;
	width: 9%;
	height: 6%;
}
.academic_year {
	position: absolute;
	top: 28.5%;
	left: 1%;
}

.academic_year_select {
	position: absolute;
	top: 28%;
	left: 10%;
	width: 7%;
}

#academic_year {
	width: 100%;
}

.section {
	position: absolute;
	top: 28.5%;
	left: 29%;
}



.section_select {
	position: absolute;
	top: 28%;
	left: 34%;
}

.subject {
	position: absolute;
	top: 28.5%;
	left: 40%;
}

#subject {
	width: 100%;
}

.subject_select {
	position: absolute;
	top: 28%;
	left: 45%;
	width: 10%;
}


.add_lesson_button {
	position: absolute;
	top: 28%;
	left: 56%;
	width: 14%;
	height: 5%;
}

button {
	background-color: #e55604;
	border: none;
	color: white;
	border-bottom: 4px solid #0493e5;
	font-size: 70%;
}

#add_lesson_button {
	width: 100%;
	height: 100%;
}





#send_sms {
	width: 100%;
	height: 100%;
}




.nav_lecture
{
	color: #b30000;
}

.timetable_diaries a
{
	color: #b30000;
}