@charset "ISO-8859-1";

body
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background-color: #808080;
}


.content {
	position: absolute;
	top: 26%;
	left: 0%;
	width: 100%;
	height: 77.1%;
	background-color: aliceblue;
}
.time_table {
	position: absolute;
	top: 21%;
	left: 0%;
	width: 8%;
	text-align: center;
	background-color: #e55604;
	color: white;
	padding-bottom: 3px;
}

.terms_type {
	position: absolute;
	top: 28.5%;
	left: 1%;
}

.terms_type_select {
	position: absolute;
	top: 28%;
	left: 10%;
	width: 15%;
}

select {
	font-size: 100%;
	background-color: #f2f2f2;
	padding: 3px;
	padding-left: 5px;
	border-radius: 3px;
	border: 2px solid #e5e5e5;
}

#terms_type {
	width: 100%;
}

#time_table_table {
	position: absolute;
	top: 35%;
	left: 0%;
	width: 100%;
	border-collapse: collapse;
}

#table_heading {
	background-color: #191919;
	color: white;
}

th {
	border-top: 2px solid #b2b2b2;
	border-right: 2px solid #b2b2b2;
	border-left: 2px solid #b2b2b2;
}

.even_row {
	background-color: aliceblue;
}

#col1 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
}

.col2 {
	border-right: 2px dotted black;
}

.col12_row1 {
	border-right: 2px solid #b2b2b2;
}

.odd_row {
	background-color: #cccccc;
}

.col1 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
}

.col1_row51 {
	border-left: 2px solid #b2b2b2;
	border-right: 2px dotted black;
	border-bottom: 2px solid #b2b2b2;
}

.col2_row51 {
	border-right: 2px dotted black;
	border-bottom: 2px solid #b2b2b2;
}

.col12_row51 {
	border-right: 2px solid #b2b2b2;
	border-bottom: 2px solid #b2b2b2;
}




.nav_lecture
{
	color: #b30000;
}

.timetable_timetable a
{
	color: #b30000;
}